.panel{
    display:flex;   
    flex-direction: column;
    background-color:black;
    // min-height: 80vh;

    .marksman{
        background-color:none;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align: center;


        background-color:green;
        .user-panel{
        img{
            width:150px;
            height:150px;
        }
        h2{
            font-family: "Biko";
            font-size:14px;
            color:black;
            text-align: center;
        }
    }
    }
}
